.card {
    
    background-color: #ccc;
    background-image: url("question_mark.svg");
    background-repeat:no-repeat;
    background-position: center center;
    border:1px solid black;
    padding:20px;
}


.container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows: repeat(4,1fr);
    
}

.card:hover {
    background-color:#fff;
    
   
}
.golden:hover {background-image: url("../Utils/golden.jpg");
    background-position: center center;
    background-size: cover;
        
        /* box-shadow:  inset -15px -15px rgba(0, 0, 0, 0.5);
        box-shadow: solid 10px 10px 10px black; */
      
}
.clasa:hover > .childernvncn{

}
.goldenek:hover{
    background-image:url("../Utils/golden.jpg");
    background-position: center center;
    background-size: cover; 
    
   
}
.labrador:hover{
    background-image:url("../Utils/labrador.jpg");
    background-position: center center;
    background-size: cover;

}

.chespeaker-bay-retriever:hover{
    background-image:url("../Utils/bay.jpg");
    background-position: center center;
    background-size: cover;

}

.husky:hover{
    background-image:url("../Utils/husky.jpg");
    background-position: center center;
    background-size: cover;
}

.owczarek-niemiecki:hover {
    background-image:url("../Utils/german.jpg");
    background-position: center center;
    background-size: cover;
}

.owczarek-podhalanski:hover{
    background-image:url("../Utils/baca.jpg");
    background-position: center center;
    background-size: cover;
}

.border-collie:hover{
    background-image:url("../Utils/collie.jpg");
    background-position: center center;
    background-size: cover;
}

.owczarek-szwajcarski:hover {
    background-image:url("../Utils/szwajcarski.jpg");
    background-position: center center;
    background-size: cover;
    padding:20px;
    margin-right:10px;
}
