:root {
  --number-of-columns: 90;
  --number-of-rows: 40;
  --head-of-snake-color: #ccc;
}

.container {
  border: 10px solid white;
  display: grid;
  grid-template-columns: repeat(var(--number-of-columns), 1fr) !important;
  grid-template-rows: repeat(var(--number-of-rows), 1fr);
}

.square {
  background-color: black;
}

.head-of-snake {
  background-color: var(--head-of-snake-color);
}

.snake-body {
  background-color: green;
}

.apple {
  background-color: red;
}
