.container {
    display:grid;
    grid-template-columns:repeat(8,1fr)!important;
    grid-template-rows: repeat(4,1fr);    
}

.card {

    background-color: #cccccc;
    background-image: url("question_mark.svg");
    background-repeat:no-repeat;
    background-position: center center;
    
}

.head-of-snake {
    background-color:violet;
}

.card:hover {
    background-color:#fff;
}
